@model App.Domain.MapLocation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MapLocation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationDisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationDisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SortPriority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SortPriority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatrolPriority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatrolPriority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Map)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Map!.MapIdCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
